.preview-img-container {
    height: 70%;

    .label-upload {
        padding: 5px;
        border-radius: 3px;
        background: #ddd;
        cursor: pointer !important;

        &:hover {
            opacity: 0.9;
        }
    }

    .preview-image {

        width: 100%;
        border: 1px solid #ddd;
        background: center center no-repeat;
        background-size: contain;
    }
}

.modal-user-container {
    margin-top: 60px;

    .model-content {
        margin-top: 60px;
    }

    .modal-header {
        .modal-title {
            margin-left: auto;
            font-size: 24px;
            font-weight: 700;
        }

        button {
            background-color: transparent;
            border-radius: 10px;
            color: red;
            font-size: 27px;

        }
    }

    .modal-user-body {
        display: flex;
        column-gap: 30px;
        flex-wrap: wrap;

        .content-right,
        .content-left {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .input-container {
                display: flex;
                flex-direction: column;

                select,
                input {
                    border-radius: 3px;
                    height: 35px;
                    border: 1px solid grey;
                    outline: none;
                    padding: 0 10px;
                }
            }
        }
    }

}