.modal-regulation-container {
    margin-top: 60px;

    .model-content {
        margin-top: 60px;
    }

    .modal-header {
        .modal-title {
            margin-left: auto;
            font-size: 24px;
            font-weight: 700;
        }

        button {
            background-color: transparent;
            border-radius: 10px;
            color: red;
            font-size: 27px;

        }
    }

    .modal-regulation-body {
        display: flex;
        row-gap: 15px;
        column-gap: 100px;
        flex-wrap: wrap;

        .input-container {
            display: flex;
            flex-direction: column;

            select,
            input {
                border-radius: 3px;
                height: 35px;
                border: 1px solid grey;
                outline: none;
                padding: 0 10px;
            }
        }
    }

}