.home-header-container {
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #F7FAFD;
    z-index: 2;
    display: flex;

    .left-content {
        width: 50%;

        .input-group {
            .search-box {
                height: 38px;
                margin-left: 65px;
                position: relative;
            }
        }
    }

    .right-content {
        width: 50%;
        height: 60px;
        display: flex;
        justify-content: space-around;

        .language {

            display: flex;
            align-items: center;

            .form-select-language {
                width: 100px;
                border: none;
                background-color: transparent;
            }
        }

        .time {
            align-items: center;

            .up-content {
                height: 50%;
                display: flex;
                text-align: center !important;
                justify-content: flex-end;
                // align-items: center;

                .text {
                    margin-left: 10px;
                    align-items: center;
                }
            }

            .down-content {
                height: 50%;
                display: flex;

                .left-text {
                    margin-right: 10px;
                }

                .right-text {
                    margin-left: 10px;
                }
            }
        }
    }
}