.data-month-container {
    display: flex;
    justify-content: flex-end;

    .content-left {
        width: 50%;

        .chart-data {
            width: 100%;
            height: 100%;
            margin-left: 35px;
        }
    }

    .content-right {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-left: 100px;

        .box {
            display: flex;
            flex-direction: column;

            width: 456px;
            height: 140px;
            border: 1px solid rgba(29, 36, 46, 0.3);
            border-radius: 4px;

            .content-up {
                display: flex;
                border-bottom: 1px solid rgba(29, 36, 46, 0.3);
                align-items: center;
                padding-top: 12px;
                padding-bottom: 12px;

                p {
                    font-size: 16px;
                    font-weight: 600;
                    margin: 0 0 0 30px !important;
                    width: 65%;
                }

                .react-datepicker-wrapper {
                    width: 30% !important;

                }
            }

            .content-down {
                display: flex;
                align-items: center;
                height: 100%;
                justify-content: center;
            }
        }

        .box-up {
            margin-top: 35px;
            margin-bottom: 20px;
        }

        .box-down {}
    }
}